<h1> <%="Here's a photo from #{@con.name} #{@con.start.year}" %> </h1>
<div>
    	<div class="dan-big-chart">
        	<%= link_to image_tag(@photo.photo_url), @photo.photo_url%>
    	</div>



<h2> Characters in this photo include: </h2>
	<% @characters.each do |char| %>
	<p> 
		<%= char.name %> 
		<% if not @guest %>
        <%= form_tag "/photos/#{@photo.id}/delete/#{@photo.char_tags.find_by(character_id: char).id}", method: :delete do %>
			<%= submit_tag 'Delete this character', class: "btn btn-success" %>
            <% end %>
		<% end %>
	</p>

	<% end %>

	<div>
<% if not @guest %>
<div class="row">
	<div class="col-md-4">
    	<%= form_tag "/photos/#{@photo.id}/addchar", method: :post do%>
    	 <div class ="form-group">
    	 	<div id="dan-submit">
    	 <%= submit_tag 'Add Character Tag', class: 'pull-left btn btn-success btn-large' %>
    	</div>
    	<div id="dan-characters">
         <%= select_tag :character_id, options_from_collection_for_select(Character.all.order('name asc'), :id, :name), class: 'form-control' %>
     </div>
     </div>
      
    	<% end %>
    </div><% end %></div>

<div>
<h2> Users in this photo include: </h2>
    <% @users.each do |user| %>
    <p> 
        <%= user.name %> 
    </p>

    <% end %>
    <% if not @guest %>
        <div>
            <%= form_tag @link, method: @method do%>
            <%= submit_tag @text, class: 'btn btn-success btn-large' %>
            <% end %>
        </div>
    <% end %>


</div>
