<%# Let's step up some form validation for this. Melissa has volunteered %>

<%= form_for @con do |f| %>
      <div class="form-group">
        <!-- DISPLAY A TITLE LABEL -->
        <%=f.text_field :name, :placeholder => "Con name" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :genre, :placeholder => "Genre" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :city, :placeholder => "City, State" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :venue, :placeholder => "Venue" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :start, :placeholder => "When does it start YYYY-MM-DD HH:MM:SS ZON" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :end, :placeholder => "When does it end YYYY-MM-DD HH:MM:SS ZON" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :con_url, :placeholder => "con's website" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.text_field :expected_size, :placeholder => "How big is it likely to be" %>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="actions">
      <%=f.submit "Submit" %>
      <!-- DISPLAY A SUBMIT BUTTON WITH A CLASS OF 'btn btn-primary' -->
    </div>
  <% end %>