<%# Let's step up some form validation for this. Melissa has volunteered %>

<div class='col-lg-6'>
  <% if @con.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@con.errors.count, "error") %> prohibited this convention from being saved:</h2>
    <ul>
    <% @con.errors.each do |attr, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @con do |f| %>
      <div class="form-group">
        <!-- DISPLAY A TITLE LABEL -->
        <%= f.label "Name"%> <br/>
        <p class="text-muted">
        <%=f.text_field :name, class: 'form-control', :placeholder => "Con name" %>
      </p>

      </div>
      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%= f.label "Type of Con"%><br/>
        <%=f.select :genre, options_for_select(Convention.genre_opts), include_blank: true%>
      </div>

      <div class="form-group">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%= f.label "Where is it?"%><br/>
        <p class="text-muted">
        <%=f.text_field :city, class: 'form-control', :placeholder => "City, State" %><br/>
        <%=f.text_field :venue, class: 'form-control', :placeholder => "Venue" %>
      </p>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>
      <div class="form-group">
        <%= f.label "Start date" %> <br/>
        <p class="text-muted">
        <!-- DISPLAY A DESCRIPTION LABEL -->
        <%=f.date_select :start%> <br/>
      </p>
        <%= f.label "End date" %> <br/>
        <p class="text-muted">
        <%=f.date_select :end_date%>
      </p>
      </div>

      <div class="form-group">
        <%= f.label "Does the con have a website" %> <br/>
        <p class="text-muted">
        <%=f.url_field :con_url, class: 'form-control', :placeholder => "be sure to include http://" %>
        <p>
      </div>

      <div class="form-group">
        <%= f.label "How big do you expect it to be" %> <br/>
        <p class="text-muted">
        <%=f.number_field :expected_size, :in => 1..1000000%>
      </p>
      </div>

      <div class="form-group">
        <%= f.label "Tell us about this convention." %> <br/>
        <p class="text-muted">
        <%=f.text_area :description, class: 'form-control', :placeholder => "Describe the con here", rows: 5, cols: 50 %>
      </p>
      </div>

      <div class="actions">
      <%=f.submit "Submit", class: 'btn btn-success' %>
      </div>

  <% end %>
    </div> 


