<% @cons.each do |con| %>

	<div>
		<h2> <%= link_to con.name, "/conventions/#{con.id}" %> </h2>
		<h3> <%= "Type: #{con.genre}" %> </h3>
		<p> <%= "From #{con.start} to #{con.end}" %> </p>
		<p> <%= "Expected Size: #{con.expected_size}" %> </p>
		<p> <%= "Location: #{con.venue}, #{con.city}" %> </p>
		<p> <%= "img_url: #{con.logo_url}" %> </p>
		<%= image_tag(con.logo_url) %>
	</div>
<% end %>