<div class="mel-padding ">
<p>
	<% if @search %>
	
		<%= @message %>
	<% else %>
	<%= form_tag controller: :conventions, action: :filter, method: :get do%>
		Select the kind of Cons you are interested in: 
          <%= select_tag :genre,  options_for_select([["All", "All"]] + Convention.genre_opts, @genre_name), :onchange => 'this.form.submit()' %>
      <% end %>
    <% end %>

</p>


<% @cons.each do |con| %>
	<div>
		<h2> <%= link_to "#{con.name} #{con.find_year}", "/conventions/#{con.id}" %> </h2>
		<h3> <%= "Type: #{con.genre}" %> </h3>
		<p> <%= "From #{con.start.strftime("%B %d, %Y")} to #{con.end.strftime("%B %d, %Y")}" %> </p>
		<p> <%= "Expected Size: #{con.expected_size}" %> </p>
		<p> <%= "Location: #{con.venue}, #{con.city}" %> </p>
	</div>
<% end %>
</div>