<div class="page-header">
  <h1>Search Conventions</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag "/conventions", :method => 'get' do %>

      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, "", class: 'form-control', placeholder: 'Convention name' %>
      </div>

      <div class="form-group">
        <%= label_tag :genre, "Type" %>
        <%= select_tag :genre,  options_for_select([["All", "All"]] + Convention.genre_opts, @genre_name), class: 'form-control' %>
      </div>
       
      <div class-"form-group">
        Within
        <%= label_tag :dist %>
        <%= text_field_tag :dist, "", class: 'form-control'%>
        miles of 
        <%= label_tag :loc %>
        <%= text_field_tag :loc, "", class: 'form-control', placeholder: 'location'%>


      </div>
      <%= submit_tag 'Search', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>