<h1> <%= "Edit #{@user.find_name(@user.id)}'s profile" %> </h1>

<div class='col-lg-6'>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this convention from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= form_tag "/users/update/#{@user.id}", :method => 'patch' do %>

      <div class="form-group">
        <!-- DISPLAY A TITLE LABEL -->
        <%= label_tag "Username"%> <br/>
        <%= text_field_tag :name, @user.name, :placeholder => "#{@user.find_name(@user.id)}" %><br/>
        <!-- DISPLAY A TEXT FIELD AND ATTACH THE CLASS OF 'form-control' TO THIS FIELD -->
      </div>

      <div class="form-group">
      <%= label_tag :email %><br/>
      <%= text_field_tag :email, @user.email, placeholder: "#{@user.email}" %>
     </div>

     <div class="form-group">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password, @user.password%>
    </div>

      <div class="form-group">
    <%= label_tag :password_confirmation %><br/>
    <%= password_field_tag :password_confirmation, @user.password_confirmation %>
    </div>



      <div class="actions">
      <%= submit_tag"Submit" , class: 'btn-success'%>

      <!-- DISPLAY A SUBMIT BUTTON WITH A CLASS OF 'btn btn-primary' -->
      </div>

</br>
<%= link_to 'Back to your profile', "/users/#{@user.id}" %>

<% end %>
</div>  

