<div class="mel-padding ">
<h2> <%= @char.name %> </h2>

<div>  
	<p> 
		<h3><u>How to cosplay</u></h3>
		<% if session[:user_id] %>
		<%= link_to "edit", "/characters/#{@char.id}/edit", class: "btn btn-success" %>
		<% end %>
	</p>
	<%= @char.cosplaying %>
</div>

<h3><u><%= "Here are the photos #{@char.name} appears in" %> </u></h3>

<div>
	<% @photos.each do |photo| %>
    	<div class="dan-col-md-4 dan-chart dan-well">
        	<%= link_to image_tag(photo.picture.url), "/photos/#{photo.id}" %>
    	</div>
	<% end %>
</div>
</div>